/* Masthead */
.masthead {
  background-image: url("/img/banner-edit.jpg");
  background-position: 0% 100%;
  height: 250px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.masthead-text {
    font-family: 'MedievalSharp', cursive;
    margin-left: 30px;
    bottom: 0%;
    left: 0%;
    position: absolute;
    color: black;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.post {
    margin-bottom: 30px;
}

/* Title link in post card */
.post-title {
    color: #000000;
}
.post-title:visited {
    color: #000000;
}
.post-title:hover {
    color: #bde3ba;
    text-decoration: none;
}
.post-title:hover:visited {
    color: #77c571;
}


/* Image on /post page */
.post-image-container {
    max-width: calc(100vw - 90px);
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.post-image {
    margin-bottom: 30px;
}
