body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

/* Masthead */
.masthead {
  background-image: url("https://snorv.s3.fr-par.scw.cloud/imgs/misc/banner-nov-2020.JPG");
  background-position: left 57%;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-origin: padding-box;
}

.content {
    padding: 30px;
}

.post {
    margin-bottom: 30px;
}

/* Title link in post card */
.post-title {
    color: #000000;
}
.post-title:visited {
    color: #000000;
}
.post-title:hover {
    color: #bde3ba;
    text-decoration: none;
}
.post-title:hover:visited {
    color: #77c571;
}

/* Image on /post page */
.post-image-container {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
