<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include banner.html %}

  <div class="content">
    <div class="container">

      <div class="post-image-container">
        <img id="post-image" class="img-fluid" src="{{ site.s3Bucket }}{{ page.s3Path }}">
      </div>

      <div class="text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="text-center text-muted">
        <p>{{ page.description }}</p>
      </div>

      <div class="text-center text-muted">
        <p class="card-text text-muted">
          Posted on
          {% assign day = page.date | date: "%-d"  %}
          {% case day %}
          {% when '1' or '21' or '31' %}{{ day }}st
          {% when '2' or '22' %}{{ day }}nd
          {% when '3' or '23' %}{{ day }}rd
          {% else %}{{ day }}th
          {% endcase %}
          {{ page.date | date: "%B, %Y" }}
        </p>
      </div>

    </div>
  </div>

  {% include footer.html %}
  <!-- Unused because it's a bit terrible -->
  <!-- <script>
    function setImageSize(img) {
      aspectRatio = img.prop('naturalWidth') / img.prop('naturalHeight')

      height = $(window).height() - 250 - 30 - 30
      projectedWidth = height * aspectRatio

      width = $(window).width() - 45 - 45
      projectedHeight = width * aspectRatio

      // If our projected width is too wide, set it to the smaller width
      if (projectedWidth >= $(window).width()) {
        img.width(width)
        img.height('auto')
        console.log('set width to', width, 'and height to auto')
      }

      if (projectedHeight > height) {
        img.height(height)
        img.width('auto')
        console.log('set height to', height, 'and width to auto')
      }
    }

    // Be __really__ sure the image has loaded
    $(window).on('load', () => {
      var img = $('#post-image')
      img.onload = setImageSize(img)
    });

  </script> -->
</body>

</html>